.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 5px;
    border-radius: 50%;

    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover {
    background-color: $accent-color;
  }
  &__item:hover &__icon {
    fill: $primary-bg-color;
  }
  &__icon {
    height: 20px;
    width: 25px;
    fill: #afb1b8;
  }
  &__item_bgc-gray {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__icon_c-white {
    height: 20px;
    width: 25px;
    fill: $primary-bg-color;
  }
}

// FOOTER
